extends layout

block content
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css")
  script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js")
  pre
    code #{text}
  script $(function() { hljs.initHighlighting(); });