doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://use.typekit.net/wzb8bhc.js")
    script try{Typekit.load({ async: true });}catch(e){}
    script(src="public/javascripts/peer.js")
    script(src="public/javascripts/comm.js")
  body
    block content
