doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/dist/style.min.css')
    link(rel='stylesheet' href='/dist/sweetalert.min.css')
    script(src="https://use.typekit.net/wzb8bhc.js")
    script try{Typekit.load({ async: true });}catch(e){}
    script(src="/dist/libs.min.js")
  body
    block content
