.main {
  padding-top: 3%;
  width: 70%;
  margin: auto;
  font-family: "chaparral-pro",sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "kinescope",sans-serif;
  font-size: 7em;
  line-height: 10%;
}

h2 {
  text-align: center;
  font-family: "kinescope",sans-serif;
  font-size: 3em;
  line-height: 10%;
}

#codeArea {
  margin-top: 1%;
  text-align: left;
  height: 70%;
  margin-bottom: 2%;
}

a {
  color: #00B7FF;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 14%;
  left: 43%;
  right: 43%;
}

.rightlink {
  text-align: right;
  right: 0;
}

.leftlink {
  text-align: left;
  left: 0;
}