.main {
  padding-top: 3%;
  width: 70%;
  margin: auto;
  font-family: "chaparral-pro",sans-serif;
  text-align: center;
}

.stamps {
  font-family: "chaparral-pro",sans-serif;
  text-align: center;
  margin: auto;
}

.stamp {
  font-family: "chaparral-pro",sans-serif;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: "industry-inc-3d",sans-serif;
  font-size: 8em;
  line-height: 10%;
}

h2 {
  text-align: center;
  font-family: "industry-inc-3d",sans-serif;
  font-size: 3em;
  line-height: 10%;
}

.myButton {
  background-color:#77cbff;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:0px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: "chaparral-pro",sans-serif;
  font-size:17px;
  padding:13px 22px;
  text-decoration:none;
}
.myButton:hover {
  background-color:#46b8fa;
}
.myButton:active {
  position:relative;
  top:1px;
}


#codeArea {
  margin-top: 1%;
  text-align: left;
  height: 70%;
  margin-bottom: 2%;
}

a {
  font-family: "chaparral-pro",sans-serif;
  color: #00B7FF;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 14%;
  left: 43%;
  right: 43%;
}

.rightlink {
  text-align: right;
  right: 0;
}

.leftlink {
  text-align: left;
  left: 0;
}